# Core
Django==5.2.6

# Base de datos
psycopg2-binary==2.9.10
dj-database-url==2.3.0

# Servidor WSGI (produccion)
gunicorn==23.0.0

# Static files (produccion)
whitenoise==6.11.0

# Utilidades
Pillow==11.1.0
openpyxl==3.1.5
xlrd==2.0.1
sqlparse==0.5.3
pytz==2024.2
