{% extends "base.html" %}
{% block content %}


<form method="post" class="form-container">
    <h2 class="form-header">{% if object %}Editar{% else %}Crear{% endif %} Pedido</h2>
    <p> Estado : {{ Estado }} </p>
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

    {# Mostrar errores no asociados (mensajes del trigger) #}
    {% if form.non_field_errors %}
        <div class="form-errors" role="alert">
            {% for err in form.non_field_errors %}
                <div class="error-item">{{ err }}</div>
            {% endfor %}
        </div>
    {% endif %}
    
    <!-- {{ form.as_p }} -->

    {% for field in form.visible_fields %}
        <div class="form-floating">
          {{ field }}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
    {% endfor %}

    <div class="form-list">
    <div class="form-linear">
        <label for="productos">Productos:</label>

    {% if request.resolver_match.url_name == 'pedidos_create' %}
        <select id="productos" name="productos" class="form-productos">
                <option value="">Seleccione un producto</option>
            {% for producto in Productos %}
                <option value="{{ producto.prod_id }}"
                        data-price="{{ producto.prod_precio_venta }}"
                        data-discount="0">
                    {{ producto.prod_nombre }} - ${{ producto.prod_precio_venta }}
                </option>
            {% endfor %}
        </select>
    </div> <!-- cierre div form-linear dentro del IF  -->

        <div class="form-linear">
            <label> Cantidad :</label> <input type="number" name="Cantidad" min="1" value="1">
            <button type="button" id="addProducto">Agregar Producto</button>
        </div>
    <div id="productosList">
        <!-- Aquí se mostrarán los productos agregados al pedido -->

    </div>

    {% else %}
    </div>  <!-- cierre div form-linear fuera del IF  -->

            {% for pp in productos_relacionados %}
                
                <div class="form-linear form-contacto">
                    <span>
                    {{ pp.prod }} - 
                    ${{ pp.pped_precio_unitario }} - 
                    Cantidad: x{{ pp.pped_cantidad }} <br>
                    descuento: %{{ pp.pped_descuento }} -
                    Total: ${{ pp.pped_total }}

                    </span>
                    <a href="{% url 'pedido_producto_update' ped_id=object.ped_id prod_id=pp.prod.prod_id %}" 
                    class="btn-link" style="min-width: 70px !important;">Editar</a>
                </div>
                
                
            {% empty %}
                <p>No hay productos relacionados.</p>
            {% endfor %}

    {% endif %}

    </div>

    
    <div class="form-linear">
        <button type="submit">Guardar</button>
        <a href="{% url 'pedidos_list' %}" class="btn-link">Volver al listado</a>
    </div>
</form>

{% endblock %}

